@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome to <i>Very Big Shoe Company</i> website!</h1>
    <p>Learn about our <a asp-controller="Home" asp-action="Privacy"> Policy</a> and find how to send your order.</p>
</div>
