@{
    ViewData["Title"] = "Privacy Policy";
}
    <h1>Very Big Shoe Company - @ViewData["Title"]</h1>

    <p>
        We receive customer orders via an XML file. Please contact us on <a href="mailto:office@verybigshoe.com">office@verybigshoe.com</a>
    </p>
